# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [11]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [12]:
new_file = pd.read_csv('../WeatherPy/weather_df.csv')

weather_file = new_file.drop(columns=["Unnamed: 0"])

weather_file.head()

,City,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Max Temp,Wind Speed
0,Hithadhoo,45,MV,1586692800,66,-0.6000,73.0833,85.57,9.53
1,Ushuaia,74,AR,1586692800,83,-54.8000,-68.3000,37.54,3.76
2,Khandyga,100,RU,1586692800,97,62.6667,135.6000,29.32,3.29
3,Mataura,94,NZ,1586692800,92,-46.1927,168.8643,51.57,10.29
4,Vaini,88,TO,1586692800,65,-21.2000,-175.2000,76.78,8.59

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [13]:
gmaps.configure(api_key = g_key)

In [4]:
location = weather_file[["Latitude", "Longitude"]].astype(float)

humidity = weather_file["Humidity"].astype(float)

fig = gmaps.figure(zoom_level=2, center=(40,0))

heatmap_layer = gmaps.heatmap_layer(location, weights=humidity,
                                   dissipating=False, max_intensity=50,
                                   point_radius=1)

fig.add_layer(heatmap_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
# A max temperature lower than 80 degrees but higher than 70.
# Wind speed less than 10 mph.
# Zero cloudiness.
# Drop any rows that don't contain all three conditions. 
# You want to be sure the weather is ideal

maxtemp = (weather_file["Max Temp"] <= 80) & (weather_file["Max Temp"] > 70)
windspeed = (weather_file["Wind Speed"] < 10)
cloudiness = (weather_file["Cloudiness"] == 0)

filter_file = weather_file[maxtemp & windspeed & cloudiness]

filter_file

,City,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Max Temp,Wind Speed
99,Pisco,0,PE,1586692800,77,-13.7000,-76.2167,72.27,7.31
187,Jalu,0,LY,1586692800,18,29.0331,21.5482,77.43,4.05
276,IlƒÅm,0,NP,1586692800,21,26.9167,87.9167,73.47,3.71
443,Santa Cruz de la Sierra,0,BO,1586692800,49,-17.8000,-63.1667,70.59,2.01
491,Nola,0,IT,1586692800,24,40.9220,14.5329,74.23,6.04
528,Yeppoon,0,AU,1586692800,71,-23.1333,150.7333,73.69,7.99
550,Fuerte Olimpo,0,PY,1586692800,46,-21.0415,-57.8738,73.67,2.42

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
hotel_df = pd.DataFrame(filter_file, columns = ["City", "Country", "Latitude", "Longitude"])

hotel_df["Hotel Name"] = ""

hotel_df

                        City Country  Latitude  Longitude Hotel Name
99                     Pisco      PE  -13.7000   -76.2167
187                     Jalu      LY   29.0331    21.5482
276                     IlƒÅm      NP   26.9167    87.9167
443  Santa Cruz de la Sierra      BO  -17.8000   -63.1667
491                     Nola      IT   40.9220    14.5329
528                  Yeppoon      AU  -23.1333   150.7333
550            Fuerte Olimpo      PY  -21.0415   -57.8738

In [7]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

params = {
    "radius": 5000,
    "types": "hotel",
    "keyword": "hotel",
    "key": g_key}

for index, row in hotel_df.iterrows():
    latitude = row["Latitude"]
    longitude = row["Longitude"]
    city = row["City"]

    params["location"] = f"{latitude},{longitude}"
    
    print(f"City: {city}")
    response = requests.get(base_url, params=params).json()
    
    try:
        hotel_df.loc[index, 'Hotel Name'] = response["results"][0]["name"]
        hotelname = response["results"][0]["name"]
        print(f"Closest hotel: {hotelname}.")

    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

City: Pisco
Closest hotel: Embassy Beach.
------------
City: Jalu
Closest hotel: Jalu Hotel.
------------
City: IlƒÅm
Closest hotel: OYO 595 Hotel Green View.
------------
City: Santa Cruz de la Sierra
Closest hotel: Buganvillas Hotel Suites & Spa.
------------
City: Nola
Closest hotel: Hotel Belsito.
------------
City: Yeppoon
Closest hotel: Yeppoon Beach House.
------------
City: Fuerte Olimpo
Closest hotel: Hotel AA.
------------

In [8]:
hotel_df.head()

,City,Country,Latitude,Longitude,Hotel Name
99,Pisco,PE,-13.7000,-76.2167,Embassy Beach
187,Jalu,LY,29.0331,21.5482,Jalu Hotel
276,IlƒÅm,NP,26.9167,87.9167,OYO 595 Hotel Green View
443,Santa Cruz de la Sierra,BO,-17.8000,-63.1667,Buganvillas Hotel Suites & Spa
491,Nola,IT,40.9220,14.5329,Hotel Belsito

In [9]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [10]:
# Add marker layer ontop of heat map
# Display Map

fig = gmaps.figure(center=(10, 15), zoom_level=2)

heat_layer = gmaps.heatmap_layer(location, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

marker_layer = gmaps.marker_layer(locations, hover_text='', label='', info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))